{{template "info_header"}}
	<title>联系我们</title>
	<link rel="stylesheet" type="text/css" href="/css/contact.css">

</head>
<body>
{{template "info_header_list"}}
<div class="cont clear">
	<div class="left_cont">
	    <!--左边导航-->
	    <ul class="">
          <a href><li>联系我们</li></a>
          <a href><li>服务条款</li></a>
          <a href><li>服务政策</li></a>
          <a href><li>加入我们</li></a>
         </ul>
	</div>   
	<div class="right_cont">
    	<div class="text_wrap">
    		<h2>联系我们<span>Contact us</span></h2>
			   <p >北京明日时尚信息技术有限公司</p>
			    <p >地址：北京市海淀区高梁桥斜街59号院长河湾2号楼9单元1403室</p>
			     <p >邮编：100083 </p>
			      <P>电话：010-62159793</P>
			      <h4>在线客服:</h4>
				<p ><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2355305250&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2355305250:41" alt="点击这里给我发消息" title="点击这里给我发消息" /></a></p>
				<h4>电子邮箱:</h4>
				<p ><img src="http://static.instreet.cn/images/mail.gif" title="电子邮箱" /> <a href="mailto:ad@instreet.cn">ad#instreet.cn</a>(请将#换成@)</p>
			</div>
			</div>
			</div>
		</div>
		<div class="clear"></div>


{{template "foot"}}
</body>
</html>