{{template "info_header"}}
	<title>联系我们</title>
	<link rel="stylesheet" type="text/css" href="http://static.instreet.cn/styles/comman.css?v=2.0.8.3652"/>
	<link rel="stylesheet" type="text/css" href="http://static.instreet.cn/styles/friend.css?v=2.0.8.3652"/>
</head>
<body>
{{template "info_header_list"}}
	<div class="left_cont">
	    <!--左边导航-->
	    <ul class="vertical_nav">
	    	<li {{if .isContact}}class="active"{{end}}><a href="/contact">联系我们</a></li>
            <li {{if .isTerm}}class="active"{{end}}><a href="/terms">服务条款</a></li>
            <li {{if .isPolicy}}class="active"{{end}}><a href="/policy">服务政策</a></li>
		    <li {{if .isJoin}}class="active"{{end}}><a href="/join">加入我们</a></li>
		</ul>
	</div>   
	<div class="right_cont">
    	<div class="text_wrap">
    		<h2>联系我们<span>Contact us</span></h2>
			   <p >常州优图普信息技术有限公司</p>
			    <p >地址：江苏省常州市新北区常州软件园E栋726</p>
			     <p >邮编：213000 </p>
			      <h4>在线客服:</h4>
				<p ><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2355305250&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2355305250:41" alt="点击这里给我发消息" title="点击这里给我发消息" /></a></p>
				<h4>电子邮箱:</h4>
				<p ><img src="http://static.instreet.cn/images/mail.gif" title="电子邮箱" /> <a href="service@adutp.com">service#adutp.com （售后服务）</a>(请将#换成@)</p>
				<p ><img src="http://static.instreet.cn/images/mail.gif" title="电子邮箱" /> <a href="seller@adutp.com">seller#adutp.com （销售、渠道合作）</a>(请将#换成@)</p>
			</div>
			</div>
			</div>
		<div class="clear"></div>


{{template "foot"}}
</body>
</html>