<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes"/>
    <meta name="msapplication-tap-highlight" content="no" />
    <title>prgroam</title>
    <link rel="stylesheet" type="text/css" media="screen and (min-width:600px)" href="/css/this.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen and (max-width:600px)" type="text/css" href="/css/small.css">
  
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/this.js"></script>
 
    <script src="/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=1WPzc5POLG3CaIMs5s7jUR5i"></script>
    <script type="text/javascript">
      function load(){
        $.get("/home/ajax",function(result){
          $(result.Media).each(function(index,emp){
            $(".media-list").append('<li><a href="'+emp.HrefUrl+'"><img src="'+'/image/media/'+emp.PictureUrl+'"/></a></li>')
          })
          $(result.News).each(function(index,emp){
      
            $(".news_wr").append('<ul><li><div class="pt"><a href="'+emp.HrefUrl+'"><img src="'+'/image/news/'+emp.PictureUrl+'"/><span></span></a></div></li><div class="news_left"><h5 class="font">'+emp.Title+'</h5><p class="beyond font">'+emp.Content+'</p></div></ul>')
          })
        })
      }
    </script>
    <style type="text/css">
      #allmap{height:250px;}
    </style>
</head> 
<body onload="load()">
  <div class="hider"><a name="0F"></a></div>
  {{template "info_header_list"}}
<div class="header">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/img/cloud.png" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="/img/cloud.png" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="/img/cloud.png" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  
</div>

<div class="hider"><a name="1F"></a></div>
  <div class="content">
    <div class="inPro clear">
      <h2><a><strong>核心产品</strong></a></h2>
      <p>Always adhere to innovation, to provide you with the best produCore product</p>
      <ul class="inPro_sec">
        <li class="inPro_sec_a inPro_left">
          <ul>
            <li><a href=""><img src="/img/desktop1.png"/></a></li>
            <li><h4 class="P_center">需求方广告平台</h4></li>
            <li class="font"><p class="beyond font">DSP（需求方平台）是一个以技术为导向的平台， 其业务主要专注于通过全球各大广告交易平台和卖方平台，为广告客户提供一站式的在线解决方案</p></li>
            <p class="detail"><a href="#">详细信息<span>>></span></a></p>
          </ul>
        </li>
        <li class="inPro_sec_a inPro_center">
          <ul>
            <li><a href=""><img src="/img/desktop2.png"/></a></li>
            <li><h4 class="P_center">供应方广告平台</h4></li>
            <li class="font"><p class="beyond font">SSP（供应方平台），以AdUTP广告发布协作平台为核心，为广告的供应方——媒体端提供智能化精细化广告发布管理、监测系统，目前已经累计服务50家主流商业网站。
</p></li>
            <p class="detail"><a href="#">详细信息<span>>></span></a></p>
          </ul>
        </li>
        <li class="inPro_sec_a inPro_right">
          <ul>
            <li><a href=""><img src="/img/desktop3.png"/></a></li>
            <li><h4 class="P_center">数据平台</h4></li>
            <li class="font"><p class="beyond font">DMP（数据管理平台），通过全面整合管理第一方和第三方数据，深度建模和人群细分，建立自动化人群策略，提供全面深入的数据洞察和智能管理，指导广告主进行强有力的广告优化和投放决策。
</p></li>
            <p class="detail"><a href="#">详细信息<span>>></span></a></p>
          </ul>
        </li>
      </ul>
    </div>
  </div>   
  <div class="hider"><a name="2F">gf</a></div>
  <div  class="colwrap clear">
    <div class="colTv">
      <h2><a><strong>合作媒体</strong></a></h2>
      <p>About 100+ home to well-known quality cooperation media ADX can Associated Media</p>
      <ul class="media-list clear">
      </ul>
    </div>
       <div class="re_All re">
    <span><a href="" class="circle"><img src="/img/read.png"/></a></span>
  </div>

  </div>
  
   
  <div class="hider"><a name="3F"></a></div>
  <div class="content">
    <div class="main">
      <div class="news">
        <h2><a><strong>新闻动态</strong></a></h2>
        <p class="cc">Master the most cutting-edge industry information</p>
        <p class="cc">News dynamics</p>
        <div class="news_wr">
        </div>
      </div>
    </div>
  </div>
  <div class="re_All">
    <span><a href="" class="circle"><img src="/img/read.png"/></a></span>
  </div>
  <div class="hider"><a name="4F"></a></div>   
  <div class="about_us">
    <h2><a><strong>关于我们</strong></a></h2>
    
    <div class="pp">
      <h3>常州优图普信息技术有限公司</h3>
      <h3>地址：</h3>
      <h4>江苏省常州市新北区常州软件园E栋726</h4>
      <h4>北京市海淀区西直门高粱桥斜街长河湾5号楼1703
</h4>
<h3>邮箱：</h3>
<h4>seller@adutp.com （销售、渠道合作）</h4>


      <!-- <li>
        <ul class="about_us_top">
          <li><div class="about_us_right png1"><p>我们听对方的身份的对方的生死i看见对方看见方的</p></div></li>
          <li><div class="about_us_right png2"><p>我们听对方的身份的对方的生死i看见对方看见方的</p></div></li>
          <li><div class="about_us_right png3"><p>我们听对方的身份的对方的生死i看见对方看见方的</p></div></li>
          <li><div class="about_us_right png4"><p>我们听对方的身份的对方的生死i看见对方看见方的</p></div></li>
        </ul>
      </li> -->

      
    </div><div id="allmap"></div>
  </div>
  {{template "foot"}}    
  <div class="top_btn" class="clear"><a href="#0F"><img src="\img\aboutus\top2.png"/></a></div> 
</body>
</html>
<script type="text/javascript">
  // 百度地图API功能
  var map = new BMap.Map("allmap");
  var point = new BMap.Point(119.999733,31.817005);
  map.centerAndZoom(point, 15);
  map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
  var marker = new BMap.Marker(point);  // 创建标注
  map.addOverlay(marker);               // 将标注添加到地图中

  var conent="地址:江苏省常州市新北区常州软件园E栋726"
  var opts = {
    width : 250,     // 信息窗口宽度
    height: 60,     // 信息窗口高度
    title : "常州优图普信息技术有限公司" , // 信息窗口标题
    enableMessage:false//设置允许信息窗发送短息
  };
  var infoWindow = new BMap.InfoWindow(conent,opts);  // 创建信息窗口对象
  marker.addEventListener("click", function(){          
    map.openInfoWindow(infoWindow,point); //开启信息窗口
  });
</script>
