<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>prgroam</title>
    <link rel="stylesheet" type="text/css" href="/css/this.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/this.js"></script>
    <script src="/js/unslider.min.js"></script>
    <script src="/js/modernizr.custom.79639.js"></script>
</head> 
<body>





    <div id="wrap">
         <div class="nav">
            <ul class="nav_r">
                <li><a href="#" name="0F"><strong>网站首页</strong></a></li>
                <li><a href="#1F"><strong>核心产品</strong></a></li>
                <li><a href="#2F"><strong>合作媒体</strong></a></li>
                <li><a href="#3F"><strong>新闻动态</strong></a></li>
                <li><a href="#4F"><strong>关于我们</strong></a></li>
            </ul>
         </div>
    </div>




<div class="header">


<div class="banner" id="b04">
    <ul>
        <li><img src="/img/cloud.png" alt="" width="100%" height="300" ></li>
        <li><img src="/img/cloud.png" alt="" width="100%" height="300" ></li>
        <li><img src="/img/cloud.png" alt="" width="100%" height="300" ></li>
        <li><img src="/img/cloud.png" alt="" width="100%" height="300" ></li>
        <li><img src="/img/cloud.png" alt="" width="100%" height="300" ></li>
    </ul>
    <a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="/img/arrowl.png" alt="prev" width="20" height="35"></a>
    <a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="/img/arrowr.png" alt="next" width="20" height="37"></a>
</div>


</div>
         


         <div class="content">
            <div class="inPro" name="1F">
                <h2><a name="1F">核心产品</a></h2>
                <p>Always adhere to innovation, to provide you with the best produ</p>
                <p>Core product</p>
               <ul class="inPro_sec">
                <li class="inPro_sec_a">
                    <ul>
                        <li><img src="/img/destop1.png"/></li>
                        <li><span class="P_center"><strong>ADIN AD EXCHANGE</strong></span></li>
                        <li><span class="p_bottom">dfdsfdfddfdddfddfddfddf</span></li>
                        <li><span class="p_bottom">dfdsfdfddddfddf</span></li>
                        <li class="detail"><a href="#">详细信息<span>>></span></a></li>
                    </ul>
                </li>
                
                <li class="inPro_sec_a">
                    <ul class="inPro_sec_a_b">
                        <li><img src="/img/destop1.png"/></li>
                        <li><span class="P_center"><strong>ADIN Ed</strong></span></li>
                        <li><span class="p_bottom">dfsdfdsfdsfddfdfdsfdfdd</span></li>
                        <li><span class="p_bottom">dfsdfdsfdsfddfdd</span></li>
                        <li class="detail"><a href="#">详细信息<span>>></span></a></li>
                    </ul>
                </li>
                
                <li class="inPro_sec_a">
                    <ul>
                        <li><img src="/img/destop2.png"/></li>
                        <li><span class="P_center"><strong>ADIN AD EXCHANGE</strong></span></li>
                        <li><span class="p_bottom">dfsdfdsfdsfddfdfdsfdfdd</span></li>
                        <li><span class="p_bottom">dfsdfdsfdsfddfdd</span></li>
                        <li class="detail"><a href="#">详细信息<span>>></span></a></li>
                    </ul>
                </li>
               </ul>
            </div>
            
            <div class="colTv" name="2F">
                <h2><a name="2F">合作媒体</a></h2>
                <p>About 100+ home to well-known quality cooperation media ADX can</p>
                <p class="bottom">Associated Media</p>
                <ul>
                    <li><img src="/img/colabroate tv/hao123.png"/></li>
                    <li><img src="/img/colabroate tv/hao123.png"/></li>
                    <li><img src="/img/colabroate tv/hao123.png"/></li>
                    <li><img src="/img/colabroate tv/hao123.png"/></li>
                    <li><img src="/img/colabroate tv/hao123.png"/></li>
                    <li><img src="/img/colabroate tv/hao123.png"/></li>
                    <li><img src="/img/colabroate tv/hao123.png"/></li>
                    <li><img src="/img/colabroate tv/hao123.png"/></li>
                    
                </ul>
            </div>
       


<div class="main">
            <div class="news" name="3F">
                <h2><a name="3F">新闻动态</a></h2>
                <p>Master the most cutting-edge industry information</p>
                <p>News dynamics</p>
              <div class="news_wr">
                <ul>
                  <li>
                    <div class="pt"><a href=""><img src="/img/news/smallbox.png"/>
                        <span class="continue">继续阅读</span></a></div>
                 </li>
                    <h5>地球大气</h5>
                    <p>打发打发打发打发打发打发的身份的反对反对反对反对</p>
                </ul>
                <ul>
                  <li>
                    <div class="pt"><a href=""><img src="/img/news/smallbox.png"/></a></div>
                 </li>
                    <h5>地球大气</h5>
                    <p>打发打发打发打发打发打发的身份的反对反对反对反对</p>
                </ul>
                <ul>
                  <li>
                    <div class="pt"><a href=""><img src="/img/news/smallbox.png"/></a></div>
                 </li>
                    <h5>地球大气</h5>
                    <p>打发打发打发打发打发打发的身份的反对反对反对反对</p>
                </ul>
                <ul>
                  <li>
                    <div><a href=""><img src="../statics/img/news/smallbox.jpg)"/></a></div>
                 </li>
                    <h5>地球大气</h5>
                    <p>打发打发打发打发打发打发的身份的反对反对反对反对</p>
                </ul>
                <ul>
                  <li>
                    <div><a href=""><img src="../statics/img/news/smallbox.jpg)"/></a></div>
                 </li>
                    <h5>地球大气</h5>
                    <p>打发打发打发打发打发打发的身份的反对反对反对反对</p>
                </ul>
                <ul>
                  <li>
                    <div class="pt"><a href=""><img src="../statics/img/news/smallbox.jpg)"/></a></div>
                 </li>
                    <h5>地球大气</h5>
                    <p>打发打发打发打发打发打发的身份的反对反对反对反对</p>
                </ul>
                <ul>
                  <li>
                    <div class="pt"><a href=""><img src="../statics/img/news/smallbox.jpg)"/></a></div>
                 </li>
                    <h5>地球大气</h5>
                    <p>打发打发打发打发打发打发的身份的反对反对反对反对</p>
                </ul>
                <ul>
                  <li>
                    <div><a href=""><img src="../statics/img/news/smallbox.jpg)"/></a></div>
                 </li>
                    <h5>地球大气</h5>
                    <p>打发打发打发打发打发打发的身份的反对反对反对反对</p>
                </ul>
              </div>
            </div>
    










              <!-- 
                <ul class="ch-grid">
                    <div>
                    <li id="aa">
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3><a href="">继续阅读</a></h3>
                                
                            </div>
                        </div>
                        
                    <h4><a href=""><strong>地球大气</strong></a></h4>
                <p class="beyond">就赶快的书法家的房发的收费的开始放假快乐快乐的开发贷款的健康回访时对方的借口借口反对反对反对</p>
                    </li>
                     <li id="aa">
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3><a href="">继续阅读</a></h3>
                                
                            </div>
                        </div>
                        
                    <p><a href=""><strong>地球大气</strong></a></p>
                <p class="beyond">就赶快的书法家的房发的收费的开始放假快乐快乐的开发贷款的健康回访时对方的借口借口反对反对反对</p>
                    </li>
                     <li id="aa">
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3><a href="">继续阅读</a></h3>
                                
                            </div>
                        </div>
                        
                    <p><a href=""><strong>地球大气</strong></a></p>
                <p class="beyond">就赶快的书法家的房发的收费的开始放假快乐快乐的开发贷款的健康回访时对方的借口借口反对反对反对</p>
                    </li>
                     <li id="aa">
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3><a href="">继续阅读</a></h3>
                                
                            </div>
                        </div>
                        
                    <p><a href=""><strong>地球大气</strong></a></p>
                <p class="beyond">就赶快的书法家的房发的收费的开始放假快乐快乐的开发贷款的健康回访时对方的借口借口反对反对反对</p>
                    </li>
                     <li id="aa">
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3><a href="">继续阅读</a></h3>
                                
                            </div>
                        </div>
                        
                    <p><a href=""><strong>地球大气</strong></a></p>
                <p class="beyond">就赶快的书法家的房发的收费的开始放假快乐快乐的开发贷款的健康回访时对方的借口借口反对反对反对</p>
                    </li>
                     <li id="aa">
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3><a href="">继续阅读</a></h3>
                                
                            </div>
                        </div>
                        
                    <p><a href=""><strong>地球大气</strong></a></p>
                <p class="beyond">就赶快的书法家的房发的收费的开始放假快乐快乐的开发贷款的健康回访时对方的借口借口反对反对反对</p>
                    </li>
                     <li id="aa">
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3><a href="">继续阅读</a></h3>
                                
                            </div>
                        </div>
                        
                    <p><a href=""><strong>地球大气</strong></a></p>
                <p class="beyond">就赶快的书法家的房发的收费的开始放假快乐快乐的开发贷款的健康回访时对方的借口借口反对反对反对</p>
                    </li>
                     <li id="aa">
                        <div class="ch-item ch-img-1">
                            <div class="ch-info">
                                <h3><a href="">继续阅读</a></h3>
                                
                            </div>
                        </div>
                        
                    <p><a href=""><strong>地球大气</strong></a></p>
                <p class="beyond">就赶快的书法家的房发的收费的开始放假快乐快乐的开发贷款的健康回访时对方的借口借口反对反对反对</p>
                    </li>

                    

                </ul>
            
         
             </section>    -->
</div>
 </div>

  

            <div class="re_All">
                <div class="circle"><p>查看所有</p></div>
            </div>
            
         <div class="about_us">
            <h2><a name="4F">关于我们</a></h2>
            <p>A collection of PC and mobile Internet advertising global, Glob</p>
            <p>A collection of PC and mobile Internet advertising global, Glob pdfd fifk</p>
            <p>About us</p>
            <ul>
                <li>
                    <ul>
                        <li><div class="about_us_right"><p>我们听对方的身份的对方的生死i看见对方看见方的</p></div></li>
                         <li><div class="about_us_right"><p>我们听对方的身份的对方的生死i看见对方看见方的</p></div></li>
                         <li><div class="about_us_right"><p>我们听对方的身份的对方的生死i看见对方看见方的</p></div></li>
                         <li><div class="about_us_right"><p>我们听对方的身份的对方的生死i看见对方看见方的</p></div></li>
                    
                    </ul>
                </li>
                <li id="map"><img src="../statics/img/aboutus/map.png"/></li>
            </ul>
               
         </div>
      
        
         <div class="footer">
             <ul>
                <li>
                    <span>联系我们</span>
                    <span>服务条款</span>
                    <span>服务政策</span>
                    <span>加入我们</span>       
                </li>
                <li>Copyrght © 2014 adutp.com. All Rights Reserved. 京CIP备xxxxxxx号</li>  
             </ul>  
         </div>     
    
    <div class="top_btn" class="clear"><a href="#0F"><strong>TOP<span>∧</span></strong></a></div> 

</body>
</html>