{{template "info_header"}}
	<title>服务政策</title>
  <link rel="stylesheet" type="text/css" href="/css/terms.css">
</head>
<body>
{{template "info_header_list"}}
 	 <div class="cont">
	<div class="left_cont">
	    <!--左边导航-->
	    <ul class="">
          <a href><li>联系我们</li></a>
          <a href><li>服务条款</li></a>
          <a href><li>服务政策</li></a>
          <a href><li>加入我们</li></a>
         </ul>
	</div>		
	<div class="right_cont">
    	<div class="text_wrap">
    		<h2>隐私政策<span>Privacy policy </span></h2>
			<h3>隐私权声明</h3>
				<p>				优图普注重对您的个人隐私的保护。有时候我们需要某些信息才能为您提供您请求的服务，本隐私权声明解释了这些情况下的数据收集和使用情况。本隐私权声明适用于优图普网站的所有相关服务。
				</p>
				<h3>
				您个人信息的搜集
				</h3>
				<p>				 当我们需要能识别您身份的信息（个人信息）或者可以与您联系的信息时，我们会征求您的同意。通常，在您注册或其他优图普在线服务时，我们会请求您提供这些信息。优图普搜集的信息通常仅限于您的姓名、性别、年龄、出生日期、身份证号、家庭住址、教育程度、公司情况、所属行业、兴趣爱好等。
				</p>
				<h3>
				控制您的个人信息
				</h3>
				<p>				  优图普会在法律要求或符合优图普网站的相关服务条款、软件许可使用协议约定的情况下透露您的个人信息，或者有充分理由相信必须这样做才能：(a) 满足法律的明文规定，或者符合优图普或本站点适用的法律程序；（b）符合优图普网站相关服务条款、软件许可使用协议的约定；(c) 保护优图普及其系列 Web 站点的权利或财产，以及 (d) 在紧急情况下保护优图普员工、优图普产品或服务的用户或大众的个人安全。
				</p>
				<p>
				优图普不会未经允许将这些信息与第三方共享，本声明已经列出的情况除外。
				</p>
				<h3>
				您个人信息的安全
				</h3>
				<p>				优图普严格保护您的个人信息的安全。我们使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。如果您对我们的隐私保护有任何置疑，请立即联系我们。
				</p>
				<h3>
				Cookie 的使用
				</h3>
				<p>
				  优图普使用 Cookie 来帮助您实现您的联机体验的个性化。Cookie 是由网页服务器存放在您的硬盘中的文本文件。Cookie 不能用来运行程序或将病毒递送到您的计算机中。指定给您的 Cookie 是唯一的，它只能由将 Cookie 发布给您的域中的 Web 服务器读取。
				</p>
				<p>
				   Cookie 的主要用途之一是提供一种节约时间的实用功能。例如，如果您将优图普的网页个性化，或在优图普网站或服务上注册，Cookie 会帮助优图普在您后续访问时调用您的特定信息。这样可以简化记录您的个人信息（例如帐单寄送地址、首选电子邮件地址等）的流程。当您返回到优图普时，优图普可以调出您以前所提供的信息，使您能够容易地使用您自定义的优图普功能。优图普允许那些在我们网页上发布广告的公司到用户电脑上设定或取用Cookie。其他公司将按其自订的隐私权政策而非本政策使用 Cookie。
				</p>
				<p>
您可以接受或拒绝 Cookie。大多数 Web 浏览器会自动接受 Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝 Cookie。如果选择拒绝 Cookie，那么您可能无法完全体验所访问的优图普服务或网站的互动功能。
				</p>
				<h3>
				第三方广告网络的使用
				</h3>
				<p>				  您在优图普网页上所看到的大多数联机横幅广告是由优图普展示的。此外，优图普还允许其他公司，即所谓的第三方广告服务器或广告网络，在优图普网页上展示广告。其中一些广告网络会在您的计算机上放置一个永久性的 Cookie。这样便可使广告网络在每次向您发送联机广告时识别出您的计算机。这样，广告网络会搜集到有关您或使用您计算机的其他人在何处看见他们的广告，以及确定哪些广告被点击。这些信息使得广告网络能够发布他们认为将是您最感兴趣的广告。优图普无权访问或控制可能由第三方广告服务器或广告网络放置的 Cookie。
				</p>
				<h3>
				访问您的个人信息
				</h3>
				<p>				 我们为您提供了多种途径以确保您的个人信息是准确及时的。如果您在优图普网站上注册，您可以随时查阅或编辑您提交给优图普网站的个人信息，您也可以随时删除您提交给优图普网站的个人信息。
				</p>
				<h3>
				对青少年个人信息的搜集和使用
				</h3>
				<p>	优图普非常重视对青少年个人信息搜集和使用的安全性和保护。优图普建议，任何16岁以下的未成年人参加网上活动应事先取得家长或其法定监护人（以下简称"监护人"）的书面同意。
				</p>
				<p>
 未经监护人事先同意，优图普不会使用青少年的个人信息，也不会向任何第三方透露可识别的信息，除非是为了向青少年提供服务之必要。 监护人有权审阅或要求优图普删除该青少年的个人信息。优图普保证不会要求青少年提供额外的个人资料，以作为允许其参与网上活动的条件。				</p>
				<h3>关于免责</h3>
				<h4>
				就下列相关事宜的发生，优图普不承担任何法律责任：
				</h4>
				<p>
				一、由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄漏，或其他非因优图普原因导致的个人信息的泄漏；
				</p>
				
				<p>
				二、任何第三方根据优图普各服务条款及声明中所列明的情况使用您的个人信息，由此所产生的纠纷；
				</p>
				<p>
				三、任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭；
				</p>
				<p>
				四、因不可抗力导致的任何后果；
				</p>
				<p>
				五、优图普在各服务条款及声明中列明的使用方式或免责情形。
				</p>		
				<p style="color:#ff0000">
				优图普会不时更新本隐私权声明。更新时，我们还会修改隐私权声明顶部的"最近更新"的日期。	
				</p> </div>
  </div>
  </div>
</div>
		<div class="clear"></div>

{{template "foot"}}
</body>
</html>