body,h2,span,p,ul{
	padding: 0;
	margin: 0;

	
}
body{	background:rgb(247,247,247);}

ul,li,a{list-style: none;}


/*public*/
.inPro ,.colTv,.about_us h2{
	padding-top:30px;
}
.inPro,.colTv{
	width:100%;
	height:300px;
	text-align:center;
	}

.inPro p,.colTv p,.news p,.about_us p{
	line-height:22px;color:#999;
}

/*content*/
#wrap{
	width:1000px;
	margin:0 auto;
	font-size:14px;
}
.nav{
	background:url(/img/yTuPu.png) 50px 30px no-repeat;
	height:114px;
	width:100%;
	line-height:80px;
	
}
.nav_r{
	width:400px;
	float:right;
	margin-right:50px;
	padding-top:30px;
	}
.nav_r li{
	float:left;
	padding-right:20px;
	}
.nav_r li strong{
	color:#000;
	}
.nav_r li a:link,a:visited{ 
 text-decoration:none;  /*超链接无下划线*/ 
} 
.nav_r li a:hover strong{ 
  color:rgb(42,128,195);
 
} 
.header{
	height:252px;
	width:100%;
	}
.container{
	width:600px; margin:0 auto;
	}
	

.inPro_sec{
	width:100%;
	}
.inPro_sec_a{
	width:200px;float:left;
	}
.P_center{
	text-align:center;
	line-height:20px;
}
.p_bottom{
	line-height:20px;
}
.detail{
	line-height:20px;
}
.detail a{
	color:#000;
}
.detail span{
	color:red;
}
.inPro_sec ul{}
.inPro_sec ul li span{}

.cloTv ul{}
.colTv ul li{
	width:150px;
	float:left;
}
.news{
	width:100%;
	height:500px;
	text-align:center;	
	}
.news ul{margin-top:10px;}
.news ul li {
	float:left;
	width:150px;
	line-height:15px;
	font-size:10px;
	color:#999;
}
.news ul li strong{
	float:left;
	line-height:24px;
	font-size:14px;
	color:#000;
}
.news ul li ul{}
.news ul li ul li{}
.re_All{
	width:400px;
	text-align:center;	
	background:#FFFFFF;
	padding:40px;
	
	}
.re_All .circle{
	margin-left:185px;
	width:150px;
	height:40px;
	border:1px solid #000;
	border-radius:20px 20px 20px 20px;
	background:#000000;
	}
.re_All .circle p{
	color:white;
	line-height:40px;
	}
	
.about_us{
	width:600px;
	text-align:center;
	background:rgb(245,245,245);	
	}

.about_us ul{
	padding-top:20px;
}
#center{w}
.about_us ul li{
	float:left;
	width:300px;
	padding-bottom:20px;
}
.top_btn{
	text-align:right;
}
.footer{
	line-height:40px;
	margin:0 auto;
	text-align:center;
	color:#000000;
}
.footer ul li{
	text-align:center;
	width:1000px;
	background:rgb(0,130,192);
}


